\---
layout: default
title: Home
\---

.content-wrapper-header
  .content-wrapper-header-inner
    %h1 kyle and alice are tying the knot!
    .the-boat
  .the-waves

.content-wrapper-inner

  %p It's about time, we know (for those doing the math, by the time we say 'I do' we'll have been together for eight years). And we're so excited that you'll be with us on our big day to help us celebrate! Thank you for being a special part of our lives, whether since the beginning or in more recent years. We can't wait to party with you on Cape Cod.

  %p
    Love,
    %br
    Alice & Kyle

  .card
    .card-graphic
      %img{ src: "/assets/media/alice.jpg"}
    .card-text
      %h4 alice
      %p
        She works for the education non-profit
        %a{ href: 'http://cityyear.org' } City Year,
        likes to run races with her friends, laughs at good puns, loves anything food related, and maintains dogs are superior to cats but loves their cat, Ruby, regardless. Her karaoke songs of choice include anything by her life role model, Celine Dion.
    .clear

  .card
    .card-graphic
      %img{ src: "/assets/media/kyle.jpg"}
    .card-text
      %h4 kyle
      %p
        He is a software engineer and co-creator of
        %a{ href: "http://clambakeapp.com/get-it" } Clambake for iPhone.
        He loves jazz music, small-batch whiskey, swimming, and cats, especially Ruby. He can also juggle torches.
    .clear

  .card
    .card-graphic
      %a{ href: "https://maps.google.com/maps?q=Flying+Bridge+Restaurant&ll=41.546842,-70.602286&spn=0.012703,0.026157&fb=1&gl=us&hq=flying+bridge&hnear=0x89fb49a10365eb93:0x247cd8bea625179e,Cape+Cod,+MA&cid=0,0,1994678289634736903&t=m&z=16"}
        %img{ src: "http://maps.google.com/maps/api/staticmap?center=41.569738,-70.603638&zoom=11&markers=color:green|41.553221,-70.608589&size=200x200&sensor=false"}
    .card-text
      %h4 ceremony & reception
      %p
        %a{ href: "https://maps.google.com/maps?q=Flying+Bridge+Restaurant&ll=41.546842,-70.602286&spn=0.012703,0.026157&fb=1&gl=us&hq=flying+bridge&hnear=0x89fb49a10365eb93:0x247cd8bea625179e,Cape+Cod,+MA&cid=0,0,1994678289634736903&t=m&z=16"}
          %em The Flying Bridge Restaurant
        %br
        220 Scranton Ave, Falmouth, MA
        %br
        (508) 548-2700
      %h4 date & time
      %p
        %em May 24, 2014
        &mdash;
        6:00pm

      %h4 attire
      %p
        %strong Semi-formal
        &mdash;
        Cocktail dresses for the ladies. Suits and ties for the gentlemen.
    .clear

  .card
    .card-graphic
      %a{ href: "https://www.google.com/maps/place/Quarterdeck+Restaurant/@41.552753,-70.617189,17z/data=!3m1!4b1!4m2!3m1!1s0x89e4d77eeabdacad:0x93fe54b96f44d7ca"}
        %img{ src: "http://maps.google.com/maps/api/staticmap?center=41.569738,-70.603638&zoom=11&markers=color:green|41.552753,-70.617189&size=200x200&sensor=false"}
    .card-text
      %h4 friday night party
      %p
        %a{ href: "https://www.google.com/maps/place/Quarterdeck+Restaurant/@41.552753,-70.617189,17z/data=!3m1!4b1!4m2!3m1!1s0x89e4d77eeabdacad:0x93fe54b96f44d7ca"}
          %em The Quarterdeck Restaurant
        %br
        164 Main St, Falmouth, MA
        %br
        (508) 548-9900
      %h4 info
      %p
        %em May 23, 2014
        &mdash;
        8:30pm

      %p Friday night before the wedding, swing by The Quarterdeck Restaurant. We've got the basement bar booked!

    .clear
