\---
layout: default
title: Wedding Info
\---

.content-wrapper-header
  .content-wrapper-header-inner
    %h1 wedding info
    .the-boat
  .the-waves

.content-wrapper-inner
  %p
    We're getting married at the Flying Bridge, a restaurant located right on the Falmouth Harbor. There ceremony will take place outdoors under a tent adjacent to the restaurant, and the reception will take place upstairs.
  %hr
  .card
    .card-graphic
      %a{ href: "https://maps.google.com/maps?q=Flying+Bridge+Restaurant&ll=41.546842,-70.602286&spn=0.012703,0.026157&fb=1&gl=us&hq=flying+bridge&hnear=0x89fb49a10365eb93:0x247cd8bea625179e,Cape+Cod,+MA&cid=0,0,1994678289634736903&t=m&z=16"}
        %img{ src: "http://maps.google.com/maps/api/staticmap?center=41.569738,-70.603638&zoom=11&markers=color:green|41.553221,-70.608589&size=200x200&sensor=false"}
    .card-text
      %h4 ceremony & reception
      %p
        %a{ href: "http://www.flyingbridgerestaurant.com/welcome"}
          %em The Flying Bridge Restaurant
        %br
        220 Scranton Ave, Falmouth, MA
        %br
        (508) 548-2700
      %h4 date & time
      %p
        %em May 24, 2014
        &mdash;
        6:00pm

      %h4 attire
      %p
        %strong Semi-formal
        &mdash;
        Cocktail dresses for the ladies. Suits and ties for the gentlemen.
    .clear

