\---
layout: default
title: Our Story
\---

.content-wrapper-header
  .content-wrapper-header-inner
    %h1 our story
    .the-boat
  .the-waves

.content-wrapper-inner

  %p
    It was Easter break 2006 at Ithaca College, a four-day weekend where much of the campus emptied. Kyle didn't feel like driving the 6+ hours home to North Falmouth, MA, and Alice couldn't justify flying to Round Rock, TX for less than a week. Their mutual friend had a small birthday party for those who were still around and they both went. Dinner turned into the group crashing a dance party, which then turned into a late night grocery run for ice cream and a late-late night screening of
    %em Love Actually.

  %p That weekend over iChat, Kyle and Alice negotiated a deal wherein they would trade a portion of their Easter care package from their respective parents: Kyle had a surplus of sugar-free mints and travel-size toothpastes (both of his parents are dentists), and Alice didn't want the temptation of having pounds of chocolate sitting in her room. They each claim that the other was the first to initiate this conversation. Either way, this first interaction sparked into something special.

  %p Then came a series of adventures around Ithaca &mdash; dates to the famous Farmer's market, hiking up and down all the beautiful gorges in town, attempts to make home-cooked meals using communal dorm-room kitchens (not very successful). They continued to explore life together, first as they both studied abroad in London sophomore year and eventually to NYC post-graduation.

  %p Months after Alice mastered the "Put a Ring on It" dance as a hint to be taken very literally, Kyle asked Alice to spend the rest of her life with him on a beach on Cape Cod right after Christmas, Alice's favorite holiday. She said yes, and that's why you're reading this now!


  .card
    .card-graphic
      %img{ src: "/assets/media/alice.jpg"}
    .card-text
      %h4 alice
      %p
        She works for the education non-profit
        %a{ href: 'http://cityyear.org' } City Year,
        likes to run races with her friends, laughs at good puns, loves anything food related, and maintains dogs are superior to cats but loves their cat, Ruby, regardless. Her karaoke songs of choice include anything by her life role model, Celine Dion.
    .clear

  .card
    .card-graphic
      %img{ src: "/assets/media/kyle.jpg"}
    .card-text
      %h4 kyle
      %p
        He is a software engineer and co-creator of
        %a{ href: "http://clambakeapp.com/get-it" } Clambake for iPhone.
        He loves jazz music, small-batch whiskey, swimming, and cats, especially Ruby. He can also juggle torches.
    .clear

  %hr
