\---
layout: default
title: Photos
\---
.content-wrapper-header
  .content-wrapper-header-inner
    %h1 photos
    .the-boat
  .the-waves

.content-wrapper-inner
  %section.photos
    %ul.photos-list
      - 27.times do |n|
        - klass = nil
        - klass = "#{klass} photos-list-item-odd" if (n.odd?)
        - klass =  "#{klass} photos-list-item-tert" if ((n+1) % 3 == 0)
        - klass = nil if n == 0
        %li.photos-list-item{ class: klass }
          %a.js-photo-detail{ href: "/assets/media/photos/#{n}.JPG" }
            %img{ src: "/assets/media/square/#{n}.JPG" }
  .clear
  %script#photo-detail-contents{ type: "text/template" }
    :plain
      {% raw %}
      <div class="modal-photo-card">
        <img src="{{src}}" class="modal-photo-card-img">
        <a class="icon-close" href="#"></a>
      </div>
      {% endraw %}