\---
layout: default
title: Registry
\---

.content-wrapper-header
  .content-wrapper-header-inner
    %h1 registry
    .the-boat
  .the-waves

.content-wrapper-inner

  %h3 Coming soon
  %p
    We're compiling a list of fun things for you to do while you're in town for the wedding. You might as well visit Cape Cod while you're here! Check back soon for a comprehensive list of amazing activities.
