/* line 17, /Users/keighl/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/keighl/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/keighl/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/keighl/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/keighl/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/keighl/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/keighl/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/keighl/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/keighl/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes spin {
  /* line 83, /Users/keighl/Dropbox/www/weddddding/assets/sass/_constants.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 85, /Users/keighl/Dropbox/www/weddddding/assets/sass/_constants.sass */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  /* line 83, /Users/keighl/Dropbox/www/weddddding/assets/sass/_constants.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 85, /Users/keighl/Dropbox/www/weddddding/assets/sass/_constants.sass */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 83, /Users/keighl/Dropbox/www/weddddding/assets/sass/_constants.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 85, /Users/keighl/Dropbox/www/weddddding/assets/sass/_constants.sass */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "fontcustom";
  src: url("/assets/fonts/fontcustom_0b65ea94121fe945cb92abfb5da7c5e3.eot");
  src: url("/assets/fonts/fontcustom_0b65ea94121fe945cb92abfb5da7c5e3.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/fontcustom_0b65ea94121fe945cb92abfb5da7c5e3.woff") format("woff"), url("/assets/fonts/fontcustom_0b65ea94121fe945cb92abfb5da7c5e3.ttf") format("truetype"), url("/assets/fonts/fontcustom_0b65ea94121fe945cb92abfb5da7c5e3.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 18, /Users/keighl/Dropbox/www/weddddding/assets/sass/_fontcustom.scss */
.icon-chevron:before,
.icon-close:before,
.icon-menu:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 30, /Users/keighl/Dropbox/www/weddddding/assets/sass/_fontcustom.scss */
.icon-chevron:before {
  content: "\f100";
}

/* line 31, /Users/keighl/Dropbox/www/weddddding/assets/sass/_fontcustom.scss */
.icon-close:before {
  content: "\f101";
}

/* line 32, /Users/keighl/Dropbox/www/weddddding/assets/sass/_fontcustom.scss */
.icon-menu:before {
  content: "\f102";
}

@font-face {
  font-family: "sailregular";
  src: url("/assets/fonts/sail-regular-webfont.eot");
  src: url("/assets/fonts/sail-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/sail-regular-webfont.woff") format("woff"), url("/assets/fonts/sail-regular-webfont.ttf") format("truetype"), url("/assets/fonts/sail-regular-webfont.svg#sailregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
html {
  height: 100%;
}

/* line 4, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
body {
  height: 100%;
  position: relative;
  background-color: white;
  font-family: "acta-display-n4", "acta-display";
  font-weight: 400;
  font-style: normal;
  color: #4f4f4f;
  background-color: #fafafa;
}
@media (min-width: 60em) {
  /* line 4, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  body {
    background-color: #ccf1d5;
  }
}

/* line 21, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0px;
}

/* line 32, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #288d85;
  margin-bottom: 0.5em;
  font-family: "sailregular";
  font-weight: normal;
  line-height: 1.25em;
}

/* line 43, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
h1 {
  font-size: 2.1em;
  padding-bottom: 0.25em;
}
@media (min-width: 60em) {
  /* line 43, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  h1 {
    font-size: 4.8em;
  }
}

/* line 50, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
h2 {
  font-size: 2em;
}
@media (min-width: 60em) {
  /* line 50, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  h2 {
    font-size: 3.8em;
    margin-bottom: 0.25em;
  }
}

/* line 57, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
h3 {
  font-size: 2em;
  border-top: 1px #99ccb7 solid;
  padding-top: 0.25em;
}
@media (min-width: 60em) {
  /* line 57, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  h3 {
    font-size: 2.2em;
  }
}

/* line 64, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
h4,
h5,
h6 {
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

/* line 70, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
p {
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 1.3em;
}

/* line 75, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
a,
a:link,
a:visited {
  text-decoration: underline;
  outline: none;
  color: #3f97b5;
}

/* line 82, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
a:hover,
a:active {
  color: #49b0d3;
}

/* line 87, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none !important;
}

/* line 95, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
strong {
  font-weight: normal;
  font-family: "acta-display-n7", "acta-display";
  font-weight: 700;
  font-style: normal;
}

/* line 99, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
em {
  font-family: "acta-display-i4", "acta-display";
  font-weight: 400;
  font-style: normal;
}

/* line 102, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
em strong,
strong em {
  font-family: "acta-display-i7", "acta-display";
  font-weight: 700;
  font-style: normal;
}

/* line 107, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
ul,
ol {
  list-style-type: disc;
  margin: 0;
  margin-left: 3em;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 1.3em;
  color: #666666;
}

/* line 117, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
li {
  list-style-type: disc;
}

/* line 120, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
blockquote {
  margin: 0;
  margin-left: 2em;
  border-left: 3px #cccccc solid;
  padding-left: 1em;
  line-height: 1.5em;
  margin-bottom: 1.3em;
  color: #666666;
}

/* line 129, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
a.pill:link,
a.pill:visited,
a.pill {
  display: inline-block;
  padding: 10px;
  background-color: #eb5412;
  text-decoration: none;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
}

/* line 141, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
iframe {
  border: none;
  display: block;
}

/* line 145, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
hr {
  background-color: transparent;
  border: none;
  height: 20px;
  background-image: url('/assets/media/rope.png?1385306796');
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 1.3em;
}

/* line 155, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
iframe {
  border: none;
  display: block;
}

/* line 159, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
img {
  max-width: 100%;
}

/* line 162, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.clear {
  clear: both;
}

@media (min-width: 60em) {
  /* line 165, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cover-container {
    overflow: hidden;
  }
}

/* line 169, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover-surface {
  overflow: hidden;
  height: 300px;
  padding-top: 55px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media (min-width: 60em) {
  /* line 169, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cover-surface {
    padding-top: 0px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 60em) {
  /* line 183, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cover-content {
    height: 100%;
    overflow: auto;
  }
}

/* line 188, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover {
  height: 465px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media (min-width: 60em) {
  /* line 188, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cover {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    max-width: 500px;
  }
}

/* line 205, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover-background {
  z-index: 0;
  background-position: center -110px;
  background-image: url('/assets/media/cover_2.jpg?1380403730');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  height: 465px;
  position: absolute;
  width: 100%;
}
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  /* line 205, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cover-background {
    background-position: center -210px;
  }
}
@media (min-width: 36em) and (max-width: 60em) {
  /* line 205, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cover-background {
    background-position: center -290px;
  }
}
@media (min-width: 60em) {
  /* line 205, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cover-background {
    position: fixed;
    width: 30%;
    height: 100%;
    background-position: center center;
  }
}

/* line 229, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.menu-open .cover {
  background: #232323;
  background: rgba(0, 0, 0, 0.6);
}

/* line 233, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.menu-open .cover-surface {
  height: 465px;
}

/* line 240, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cssfilters .menu-open .cover-background {
  height: 465px;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  filter: blur(30px);
}
@media (min-width: 60em) {
  /* line 240, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cssfilters .menu-open .cover-background {
    height: 100%;
  }
}

/* line 247, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover-gradient {
  display: none;
}
@media (min-width: 60em) {
  /* line 247, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cover-gradient {
    display: block;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    background: linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    position: fixed;
    top: 0px;
    left: 0px;
    height: 465px;
    width: 100%;
  }
}

/* line 260, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover-logo {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
  padding: 50px 0px;
}
@media (min-width: 60em) {
  /* line 260, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .cover-logo {
    display: block;
  }
}

/* line 273, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover-logo-img {
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

/* line 277, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover-logo-img:hover {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* line 280, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.menu-open .cover-logo {
  top: 420px;
}

/* line 285, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.content-wrapper {
  position: relative;
  -webkit-backface-visibility: hidden;
  background-color: #ccf1d5;
}
@media (min-width: 60em) {
  /* line 285, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .content-wrapper {
    outline: 0;
    position: relative;
    left: 30%;
    width: 70%;
    -webkit-box-shadow: -2px 0px 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px 0px 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0px 0px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-height: 100%;
  }
}

/* line 298, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.content-wrapper-inner {
  padding: 20px;
}
@media (min-width: 60em) {
  /* line 298, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .content-wrapper-inner {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 850px;
    padding: 50px 120px 30px 85px;
  }
}

/* line 311, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover-menu {
  overflow: hidden;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  left: -100%;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.25, 0.265, 1.25);
  -moz-transition: all 400ms cubic-bezier(0.68, -0.25, 0.265, 1.25);
  -o-transition: all 400ms cubic-bezier(0.68, -0.25, 0.265, 1.25);
  transition: all 400ms cubic-bezier(0.68, -0.25, 0.265, 1.25);
}

/* line 319, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover-menu-inner {
  padding: 25px 30px;
}

/* line 322, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.menu-open .cover-menu {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  left: 0%;
}

/* line 328, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.cover-menu-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 334, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
li.cover-menu-item {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px white solid;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

/* line 342, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
a.cover-menu-link {
  display: block;
  font-family: "acta-display-n4", "acta-display";
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 22px;
  padding: 12px 0;
  position: relative;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  text-decoration: none;
}

/* line 352, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
a.cover-menu-link:hover {
  -webkit-transform: translate(5px, 0px);
  -moz-transform: translate(5px, 0px);
  -ms-transform: translate(5px, 0px);
  -o-transform: translate(5px, 0px);
  transform: translate(5px, 0px);
}

/* line 356, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
a.cover-menu-link .icon-chevron {
  position: absolute;
  right: 0px;
  top: 15px;
  font-size: 16px;
}

/* line 363, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.card {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  margin-bottom: 1.3em;
}

/* line 370, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.card-sticky {
  position: absolute;
  right: 20px;
  top: 100px;
  width: 180px;
}

/* line 376, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.card-graphic {
  margin-bottom: 20px;
  width: 60px;
}
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  /* line 376, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .card-graphic {
    float: left;
    width: 20%;
    margin-right: 25px;
  }
}
@media (min-width: 36em) and (max-width: 60em) {
  /* line 376, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .card-graphic {
    float: left;
    width: 20%;
    margin-right: 25px;
  }
}
@media (min-width: 60em) {
  /* line 376, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .card-graphic {
    float: left;
    width: 20%;
    margin-right: 25px;
  }
}

/* line 391, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.card-graphic img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  /* line 394, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .card-text {
    float: left;
    width: 70%;
  }
}
@media (min-width: 36em) and (max-width: 60em) {
  /* line 394, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .card-text {
    float: left;
    width: 70%;
  }
}
@media (min-width: 60em) {
  /* line 394, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .card-text {
    float: left;
    width: 70%;
  }
}

/* line 403, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.card-text h4 {
  border-bottom: 1px #eaeaea solid;
  padding-bottom: 0.2em;
}

/* line 408, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.the-waves {
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: url('/assets/media/header-waves.png?1385306584');
  background-position: left bottom;
  background-repeat: repeat-x;
}

/* line 418, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.the-boat {
  height: 72px;
  width: 66px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-image: url('/assets/media/the_boat.png?1385306339');
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* line 428, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.content-wrapper-header {
  position: relative;
  background-color: #99ccb7;
}

/* line 432, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.content-wrapper-header-inner {
  padding: 20px;
  position: relative;
}
@media (min-width: 60em) {
  /* line 432, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .content-wrapper-header-inner {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 850px;
    padding: 60px 120px 60px 85px;
  }
}

/* line 444, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
.content-wrapper-header-inner h1 {
  color: white;
  margin-bottom: 0;
  text-align: center;
}
@media (min-width: 60em) {
  /* line 444, /Users/keighl/Dropbox/www/weddddding/assets/sass/_global.sass */
  .content-wrapper-header-inner h1 {
    text-align: left;
  }
}

/* line 1, /Users/keighl/Dropbox/www/weddddding/assets/sass/_header.sass */
.header {
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 55px;
  z-index: 1000;
  background-color: #99ccb7;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
}
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  /* line 1, /Users/keighl/Dropbox/www/weddddding/assets/sass/_header.sass */
  .header {
    position: absolute;
  }
}
@media (min-width: 60em) {
  /* line 1, /Users/keighl/Dropbox/www/weddddding/assets/sass/_header.sass */
  .header {
    display: none;
    text-align: right;
    -webkit-box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0);
    left: 30%;
    width: 70%;
    height: 70px;
  }
}

/* line 26, /Users/keighl/Dropbox/www/weddddding/assets/sass/_header.sass */
a.header-title {
  color: white;
  display: inline;
  font-family: "sailregular";
  font-weight: normal;
  font-size: 30px;
  position: relative;
  top: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media (min-width: 60em) {
  /* line 26, /Users/keighl/Dropbox/www/weddddding/assets/sass/_header.sass */
  a.header-title {
    display: none;
  }
}

/* line 40, /Users/keighl/Dropbox/www/weddddding/assets/sass/_header.sass */
a.header-menu-icon {
  position: absolute;
  left: 16px;
  font-size: 26px;
  top: 16px;
  color: white;
  text-decoration: none;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 60em) {
  /* line 40, /Users/keighl/Dropbox/www/weddddding/assets/sass/_header.sass */
  a.header-menu-icon {
    top: 22px;
    left: 23px;
    font-size: 28px;
  }
}

/* line 55, /Users/keighl/Dropbox/www/weddddding/assets/sass/_header.sass */
a.header-menu-icon:hover {
  color: #5d7062;
}
@media (min-width: 60em) {
  /* line 55, /Users/keighl/Dropbox/www/weddddding/assets/sass/_header.sass */
  a.header-menu-icon:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* line 1, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
.photos {
  display: block;
}

/* line 4, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
.photos-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 9, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
.photos-list-item {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-bottom: 1.7%;
}
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  /* line 9, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
  .photos-list-item {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
@media (min-width: 36em) and (max-width: 60em) {
  /* line 9, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
  .photos-list-item {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 60em) {
  /* line 9, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
  .photos-list-item {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
}

/* line 23, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
.photos-list-item:hover {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  z-index: 1000;
}

/* line 28, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
.photos-list-item-odd {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  /* line 28, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
  .photos-list-item-odd {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
@media (min-width: 36em) and (max-width: 60em) {
  /* line 28, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
  .photos-list-item-odd {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 60em) {
  /* line 28, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
  .photos-list-item-odd {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  /* line 40, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
  .photos-list-item-tert {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 36em) and (max-width: 60em) {
  /* line 40, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
  .photos-list-item-tert {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 60em) {
  /* line 40, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
  .photos-list-item-tert {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }
}

/* line 51, /Users/keighl/Dropbox/www/weddddding/assets/sass/_photos.sass */
.photos-list-item img {
  display: block;
  width: 100%;
}

/* line 1, /Users/keighl/Dropbox/www/weddddding/assets/sass/_modal.sass */
.noscroll {
  overflow: hidden;
}

/* line 4, /Users/keighl/Dropbox/www/weddddding/assets/sass/_modal.sass */
.modal {
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  opacity: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
}

/* line 12, /Users/keighl/Dropbox/www/weddddding/assets/sass/_modal.sass */
.modal-visible {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 25, /Users/keighl/Dropbox/www/weddddding/assets/sass/_modal.sass */
.modal a.icon-close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  font-size: 30px;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
  text-decoration: none;
}
/* line 34, /Users/keighl/Dropbox/www/weddddding/assets/sass/_modal.sass */
.modal a.icon-close:hover {
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

/* line 37, /Users/keighl/Dropbox/www/weddddding/assets/sass/_modal.sass */
.modal-photo-card {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
}

/* line 43, /Users/keighl/Dropbox/www/weddddding/assets/sass/_modal.sass */
.modal-photo-card img {
  position: relative;
  display: inline-block;
  top: 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 50, /Users/keighl/Dropbox/www/weddddding/assets/sass/_modal.sass */
.modal-photo-card-visible img {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 0px;
}

/* line 1, /Users/keighl/Dropbox/www/weddddding/assets/sass/_whos.sass */
.whos-who-toggler {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  border-bottom: 1px solid #99ccb7;
}

/* line 7, /Users/keighl/Dropbox/www/weddddding/assets/sass/_whos.sass */
a.whos-who-toggle {
  font-size: 1.3em;
  display: inline-block;
  font-family: "sailregular";
  font-weight: normal;
  width: 40%;
  text-decoration: none;
  text-align: center;
  color: #99ccb7;
  border-bottom: none;
  background-color: white;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0;
}
@media (min-width: 36em) and (max-width: 60em) {
  /* line 7, /Users/keighl/Dropbox/www/weddddding/assets/sass/_whos.sass */
  a.whos-who-toggle {
    font-size: 2em;
  }
}
@media (min-width: 60em) {
  /* line 7, /Users/keighl/Dropbox/www/weddddding/assets/sass/_whos.sass */
  a.whos-who-toggle {
    font-size: 2em;
  }
}

/* line 23, /Users/keighl/Dropbox/www/weddddding/assets/sass/_whos.sass */
a.whos-who-toggle-active {
  background-color: #99ccb7;
  color: white;
}

/* line 27, /Users/keighl/Dropbox/www/weddddding/assets/sass/_whos.sass */
.whos-who-section {
  display: none;
}

/* line 30, /Users/keighl/Dropbox/www/weddddding/assets/sass/_whos.sass */
.whos-who-section-active {
  display: block;
}
