<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>     <!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>Kyle & Alice</title>
  <script src='//use.typekit.net/xro0clp.js'></script>
  <script>
    try{Typekit.load();}catch(e){}
  </script>
  <meta content='width=device-width, minimum-scale=1.0, maximum-scale=1.0' name='viewport'>
  <link href='/assets/stylesheets/screen.css' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <link href='/assets/stylesheets/lt_ie9_screen.css' rel='stylesheet' type='text/css'>
  <![endif]-->
  <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
  <link href='/favicon.ico' rel='icon' type='image/x-icon'>
  <script src='/assets/js/modernizr.js'></script>
  <script src='/assets/js/mustache.js'></script>
</head>
<body>
  <div class='cover-container'>
    <div class='cover-surface'>
      <div class='cover-content'>
        <div class='cover-background'></div>
        <div class='cover-gradient'></div>
        <div class='cover'>
          <nav class='cover-menu'>
            <div class='cover-menu-inner'>
              <ul class='cover-menu-list'>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='/'>
                    home
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='/info.html'>
                    wedding info
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='/lodging.html'>
                    where to stay
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='/our-story.html'>
                    our story
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='/whos-who.html'>
                    who's who?
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='/things-to-do.html'>
                    things to do
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='/photos.html'>
                    photos
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='/registry.html'>
                    registry
                    <span class='icon-chevron'></span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <div class='cover-logo'>
            <img class='cover-logo-img' src='/assets/media/anchor.png' width='180'>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='content-wrapper'>
    {{ content }}
  </div>
  <div class='header'>
    <div class='header-wrapper'>
      <div class='header-sub-wrapper'>
        <a class='icon-menu header-menu-icon' href='#'></a>
        &nbsp;
        &nbsp;
        <a class='header-title' href='/'>
          <span class='text'>alice & kyle</span>
        </a>
      </div>
    </div>
  </div>
</body>
<div class='modal'>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script>
    window.jQuery || document.write('<script src="/assets/js/jquery.js"><\/script>')
  </script>
  <script src='/assets/js/global.js'></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'stuff']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</div>
